html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #eee;
    display: flex;
    height: 10vh;
    padding: .5% 4%;
}

.left, 
.right {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.header .right {
    justify-content: flex-end;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4%;
    flex: 1;
    overflow-y:auto;
    background-color: #fff;
}

.main .left {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0.5;
}
/* 
.dropdown {
    position: relative;
}

.dropdownMenu {
    background-color: white;
    position: absolute;
    left: 0;
    top: calc(100% + .5rem);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown + 

.dropdown > .link:focus + .dropdownMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} */

.main .right {
    align-items:flex-start;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
}

h1 {
    color: #bf953f;
}

h3, 
p {
    color: #001f3f;
}

li {
    padding-right: 10%;
}

.last {
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #000080;
}

button {
    border-radius: 10%;
    color: #eee;
    background-color: #6786a3;
    border: 10% solid #405a77;
}

#sarang {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin: 1%;
}