html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #eee;
    display: flex;
    height: 10vh;
    padding: 2% 4%;
    justify-content: space-between;
}

.left, 
.right {
    display: flex;
    align-items: center;
}

.header .right {
    justify-content: flex-end;
    min-width: 5vw;
}

li {
    padding-right: 10%;
}

.dining {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dining .left {
    flex-direction: column;
    align-items: flex-start;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
}

button {
}

#sarang {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin: 10px;
}